# Nombre de la rama (Ejemplo armamentos)

- Condicion uno (No debe ser un sprite del player, sino uno aparte)
- Condicion dos (Multiples armas)
- Condicion tres (Cada arma tiene sus stats)
- ...
- Condicion X